<h1 class="ui center aligned header">Edit Task</h1>
<div class="ui form">
  <%= form_with(model: [@list, @task], local: true) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label :priority_number %>
      <%= f.text_field :priority_number %>
    </div>

    <div class="field">
      <%= f.label :finished %> <br />
      <%= f.check_box :finished %>
    </div>

    <div class="action">
      <button class="ui green button" type="submit">Update</button>
    </div>
  <% end %>
</div>